.social-linkedin a {
    background-color: #0077b5;
}


.social-linkedin:hover a {
    background-color: #0566b5;
}

@media (max-width: 767px) {
    .my-margin {
        margin-top: 70px;
    }
}

.my-download {
    color: white;
    background: blue;
}

.my-download-text-big {
    padding-top: 2%;
}

.my-download-text-small {
    padding-top: 10%;
}

.my-features {
    margin-top: -70px;
    margin-bottom: -70px;
}

.my-contact-h2 {
    margin-bottom: 50px;
}

.my-photos {
    border-radius: 50%;
}

.my-contact-h3 {
    margin-top: 15px;
}

.my-contact-list {
    margin-top: 30px;
}
